.ser-section4-bg {
    background-image: url("../../../Assets/Png/15.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  
  @media only screen and (min-width: 280px) and (max-width: 576px) {
    .input-wrapper-margin {
      margin-bottom: 1rem;
    }
  }
  
  @media only screen and (min-width: 577px) and (max-width: 768px) {
    .input-wrapper-margin {
      margin-bottom: 1rem;
    }
  }
  
  @media only screen and (min-width: 769px) and (max-width: 992px) {
    .input-wrapper-margin {
      margin-bottom: 1.5rem;
    }
  }
  
  @media only screen and (min-width: 993px) and (max-width: 1024px) {
    .input-wrapper-margin {
      margin-bottom: 1.5rem;
    }
  }
  
  @media only screen and (min-width: 1025px) and (max-width: 1280px) {
    .input-wrapper-margin {
      margin-bottom: 2rem;
    }
  }
  
  @media only screen and (min-width: 1281px) and (max-width: 1440px) {
    .input-wrapper-margin {
      margin-bottom: 2rem;
    }
  }
  
  @media only screen and (min-width: 1441px) and (max-width: 1920px) {
    .input-wrapper-margin {
      margin-bottom: 2rem;
    }
  }
  
  @media only screen and (min-width: 1921px) {
    .input-wrapper-margin {
      margin-bottom: 2rem;
    }
  }